*{
    margin: 0;
}

body {
    margin:0 auto;
    text-align: center;
    background-color: rgb(245, 248, 219);
    color: #353333;
    font-size: 28px;
    font-family: sans-serif;   
}


a {
    text-decoration: none;
    color: #353333;
}

table {
    margin: 120px 20px 0 20px;
    padding-bottom: 50px;
    border-collapse: collapse;
    
}

table td {
    border: 1px solid black;
    padding: 0 2px;
}

td:first-child {
    background-color: rgba(170, 177, 163, 0.616);
}


.date, 
 .day{
     font-size: 79%;
     color: rgb(94, 87, 87);
    font-style: italic;
    background-color: rgb(215, 218, 190);
}


.date td:hover { 
    position: relative;
    margin:0 2px 90px 2px;
}

td:nth-child(7n+8) {
    border: 2px solid rgb(211, 48, 7);
}

.free {
    background-color: rgba(0, 211, 70, 0.459);
}

.freeDay {
    background-color: rgba(214, 15, 31, 0.712);
}

.huba {
    background-color: rgba(78, 162, 241, 0.274);
    font-style: italic;
}

.huba .free{
    background-color: rgba(48, 236, 111, 0.76);
}

